:root {
    --bg-color: #000000;        /* Negro casi puro */
    --neon-green: #00ff41;      /* Verde Terminal */
    --neon-grey: #c7c7c7;
    
    --font-mono: 'JetBrains Mono', monospace;
}

body {
    background-color: var(--bg-color);
    color: var(--neon-grey);
    font-family: var(--font-mono);
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Evita scroll */
}

/* Tipografía del Reloj */
.clock-text {
    font-size: 30vw; /* Escala con el ancho de pantalla */
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 0 3px;
    letter-spacing: -5px;
}

.date-text {
    font-size: 5vw;
    letter-spacing: 2px;
    opacity: 0.8;
}

/* Ajustes Responsive para Desktop */
@media (min-width: 768px) {
    .clock-text { font-size: 15vw; }
    .date-text { font-size: 1.5rem; }
}

.small-dot { font-size: 8px; vertical-align: middle; }

/* Utilidad para bordes neón suaves */
.neon-border {
    box-shadow: 0 0 5px
}