:root {
    --bg-color: #000000;        /* Negro casi puro */
    --neon-green: #00ff41;      /* Verde Terminal */
    --neon-grey: #ffffff;
    
    --font-mono: 'doto';
    --color-indicator: #ffffffc9; /* Rojo Nothing o similar */
}

body {
    background-color: var(--bg-color);
    color: var(--neon-grey);
    font-family: var(--font-mono);
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Evita scroll */
}

/* Tipografía del Reloj */
.clock-text {
    font-size: 30vw; /* Escala con el ancho de pantalla */
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 0 3px;
    letter-spacing: -5px;
}

.date-text {
    font-size: 5vw;
    letter-spacing: 2px;
    opacity: 0.8;
}

/* Ajustes Responsive para Desktop */
@media (min-width: 768px) {
    .clock-text { font-size: 15vw; }
    .date-text { font-size: 1.5rem; }
}

.small-dot { font-size: 8px; vertical-align: middle; }

/* Utilidad para bordes neón suaves */
.neon-border {
    box-shadow: 0 0 5px
}

/* ------------------------------------
   4. NOTHING GLOW (El Resplandor Rojo)
   ------------------------------------ */
   #floating-indicator {
    position: fixed;
    
    /* Dimensiones masivas para cubrir el área inferior */
    width: 130vw;  
    height: 130vw; 
    
    /* Posiciona el centro del círculo fuera de la pantalla */
    bottom: -120vw; 
    
    background-color: var(--color-indicator); 
    border-radius: 50%; 
    
    /* Brillo difuso */
    box-shadow: 0 0 30px var(--color-indicator); 
    
    opacity: 0.85; 
    z-index: 1; /* Detrás del texto del reloj */
    
    /* Animación muy lenta para simular que está "vivo" */
    animation: pulse-float 1s ease-in-out infinite alternate;
}

@keyframes pulse-float {
    from {
        transform: translateY(0);
        opacity: 0.85;
    }
    to {
        transform: translateY(-2px); /* Movimiento vertical sutil */
        opacity: 0.95;
    }
}