:root {
    --bg-color: #000000;        /* Negro casi puro */
    --neon-green: #00ff41;      /* Verde Terminal */
    --neon-grey: #ffffff;
    
    --font-mono: 'doto';
    --color-indicator: #ffffffc9; /* Rojo Nothing o similar */
}

body {
    background-color: var(--bg-color);
    color: var(--neon-grey);
    font-family: var(--font-mono);
    height: 100vh;
    margin: 0;
    overflow: hidden; /* Evita scroll */
}

/* Tipograf칤a del Reloj */
.clock-text {
    font-size: 30vw; /* Escala con el ancho de pantalla */
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 0 3px;
    letter-spacing: -5px;
}

.date-text {
    font-size: 5vw;
    letter-spacing: 2px;
    opacity: 0.8;
}

/* Ajustes Responsive para Desktop */
@media (min-width: 768px) {
    .clock-text { font-size: 15vw; }
    .date-text { font-size: 1.5rem; }
}

.small-dot { font-size: 8px; vertical-align: middle; }

/* Utilidad para bordes ne칩n suaves */
.neon-border {
    box-shadow: 0 0 5px
}

/* ------------------------------------
   4. NOTHING GLOW (El Resplandor Rojo)
   ------------------------------------ */
#floating-indicator {
    position: fixed;
    
    /* Mantenemos tus dimensiones y posici칩n: */
    width: 270vw;  
    height: 130vw;  
    bottom: -130.4vw; 
    background-color: var(--color-indicator);
    border-radius: 100%; 
    
    /* 游녢 DIFUSI칍N AUMENTADA: De 30px a 200px para suavizar la luz */
    box-shadow: 0 0 130px var(--color-indicator); 
    
    /* 游녢 OPACIDAD BAJADA: Para que se mezcle m치s con el fondo negro */
    opacity: 0.8; 
    z-index: 1; 
    
    /* Animaci칩n... */
    animation: pulse-float 1s ease-in-out infinite alternate;
}

@keyframes pulse-float {
    from {
        transform: translateY(0);
        opacity: 0.85;
    }
    to {
        transform: translateY(-4px); /* Movimiento vertical sutil */
        opacity: 0.95;
    }
}